<!--
 ____________________________________________________________
|                                                            |
|    DESIGN + Pat Heard { http://fullahead.org }             |
|      DATE + 2006.09.12                                     |
| COPYRIGHT + Free use if this notice is kept in place.      |
|____________________________________________________________|

-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>


  <title>Anime Stats</title>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="author" content="fullahead.org" />
  <meta name="keywords" content="XHTML, CSS, template, FullAhead" />
  <meta name="description" content="A valid, XHTML 1.0 template" />
  <meta name="robots" content="index, follow, noarchive" />
  <meta name="googlebot" content="noarchive" />

  <link rel="stylesheet" type="text/css" href="../static/css/html.css" media="screen, projection, tv " />
  <link rel="stylesheet" type="text/css" href="../static/css/layout.css" media="screen, projection, tv" />
  <link rel="stylesheet" type="text/css" href="../static/css/print.css" media="print" />

  <!-- Conditional comment to apply opacity fix for IE #content background.
       Invalid CSS, but can be removed without harming design -->
  <!--[if gt IE 5]>
  <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen, projection, tv " />
  <![endif]-->

</head>


<body>

<!-- #wrapper: centers the content and sets the width -->
<div id="wrapper">
 <img class="post-img" src="tokyoghoul.jpg" />
  <!-- #content: applies the white, dropshadow background -->
  <div id="content">

    <!-- #header: holds site title and subtitle and search bar-->
    <div id="header">
      <h1><span class="big darkBrown">A</span>nime <span class="big darkBrown">S</span>tats</h1>
      <h2><span class="highlight">Zothacks 2018</span></h2>

    </div>

    <!-- #page: holds all page content, as well as footer -->
    <div id="page">

      <h1>TOP 10 ANIMES OF ALL TIME</h1>


      <table id = "tableRank">
          <tr>
              <th> Rank # </th>
              <th> Title </th>
          </tr>

          {% if top_ten %}
            {% for ani in top_ten %}

          <tr>
              <th> 1</th>
              <th> {{ani}} </th>
          </tr>

            {% endfor %}
          {% endif %}
      <table/>

      <h1>TOP 10 POPULAR ANIME OF ALL TIME</h1>


      <table id = "tableRank">
          <tr>
              <th> Rank # </th>
              <th> Title </th>
          </tr>

          {% if top_pop %}
            {% for ani in top_pop %}

          <tr>
              <th> 1</th>
              <th> {{ani}} </th>
          </tr>

            {% endfor %}
          {% endif %}
      <table/>

      <h1>TOP 10 TRENDING ANIMES OF ALL TIME</h1>


      <table id = "tableRank">
          <tr>
              <th> Rank # </th>
              <th> Title </th>
          </tr>

          {% if top_trending %}
            {% for ani in top_trending %}

          <tr>
              <th> 1</th>
              <th> {{ani}} </th>
          </tr>

            {% endfor %}
          {% endif %}
      </table>

     <!--  <script>
      var myTable = document.getElementById('tableRank');
      var list = ["One Piece", "Naruto", "My Hero Academia", "Hunter x Hunter (2011)",
       "Naruto Shippuden", "Attack on Titan", "Re:Zero",
       "Fairy Tail", "Black Clover", "Goblin Slayer"];

       for (i = 0; i < 10; i++) {
        myTable.rows[i+1].cells[1].innerHTML = list[i];
        }

      </script> -->




      <!-- .footer: the site footer text, links and whatever else -->
      <p class="footer">
        Design by <a href="http://fullahead.org" title="Visit FullAhead">FullAhead</a>.  Valid CSS &amp; XHTML with no rights reserved.
      </p>

    </div>

  </div>

</div>

</body>

</html>
